<% provide(:title, "New question") %>
<h1><%= link_to @room.name, room_path(@room) %></h1>

<h1>New Question</h1>

<%= render 'form' %>

<br>

<%= link_to 'Back', room_questions_path, :class => "btn btn-info" %>
