<% provide(:title, "New question") %>
<h3><%= link_to @room.name.capitalize, room_path(@room) %></h3>

<h3>New Question</h3>

<%= render 'form' %>

<br>

<%= link_to 'Back', room_questions_path, :class => "btn btn-info" %>
