<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room_subject.name %>
</p>

<%= link_to 'Edit', edit_room_subject_path(@room_subject) %> |
<%= link_to 'Back', room_subjects_path %>
