<% provide(:title, "Tags") %>
<h1 class="text-center"><%= link_to "Tags", tags_path %></h1> <br>

<% @tags.each do |tag| %>
    <p class="badge"><%= link_to tag.name, tag, class: "tags-text" %></p>
<% end %>
