<h3>
  <%= link_to @tag.name, @tag %>
</h3>

<% @questions.each do |question| %>
  <%= link_to question.title, room_question_path(question.room_id, question) %> <br>
<% end %>

<br><br>
<% if can? :update, @tag %>
  <%= link_to 'Edit', edit_tag_path(@tag), :class => "btn btn-warning" %>
<% end %>

<% if can? :destroy, @tag %>
  <%= link_to 'Delete', tag_path(@tag), method: :delete, :class => "btn btn-danger" %>
<% end %>
